.credit-card-div  span { padding-top:10px; }
.credit-card-div img { padding-top:30px; }
.credit-card-div .small-font { font-size:9px; }
.credit-card-div .pad-adjust { padding-top:10px; }

.text{
    text-align: center;
    margin-top: 50vh;
    color: red;
}
.masterCard{
    width: 100px;
}
.container{
    width: 80%;

}